<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク</title>
</head>
<body>

<div style="margin-left:auto;margin-right:auto;text-align:left;width:650px;border:solid 1px black;">

<h1 th:text="${title}">ようこそ</h1>

<form method="POST" th:action="@{/task/update}" th:object="${taskForm}">
  <table order="1">
    <tr style="border:solid 1px black;">
      <td style="border:solid 1px black;"><label>タスクタイプ:</label></td>
      <td style="border:solid 1px black;">
        <select name="typeId">
          <option value="1" th:selected="*{typeId == 1}">緊急</option>
          <option value="2" th:selected="*{typeId == 2}">重要</option>
          <option value="3" th:selected="*{typeId == 3}">できれば</option>
        </select>
      </td>
      <td style="width:200px;"></td>
    </tr>
    <tr>
      <td style="border:solid 1px black;"><label>タスク：</label></td>
      <td style="border:solid 1px black;">
      <input type="text" name="title" th:value="*{title}" />
      <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color:red;"></div>
      </td>
      <td style="width:200px;"></td>
    </tr>
    <tr>
      <td style="border:solid 1px black;"><label>タスク詳細：</label></td>
      <td colspan="2" style="border:solid 1px black;">
      <input type="text" name="detail" th:value="*{detail}" style="width:350px;"/>
      <div th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}" style="color:red;"></div>
      </td>
      
    </tr>
    <tr>
      <td style="border:solid 1px black;"><label>期限：</label></td>
      <td style="border:solid 1px black;">
      <input type="datetime-local" name="deadline" th:value="*{deadline}" />
      <div th:if="${#fields.hasErrors('deadline')}" th:errors="*{deadline}" style="color:red;"></div>
      </td>
      <td style="width:200px;"></td>
    </tr>
  </table>
    <input type="submit" value="送信">
</form>

<!--
<form method="POST" th:action="@{/task/update}">
    <input type="submit" value="Update送信">
</form>

<form method="POST" th:action="@{/task/delete}">
    <input type="submit" value="Delete送信">
</form>
-->
<!--
<table>
  <tr th:each="list : ${taskList}">
    <td th:text=${list.id}></td>
    <td th:text=${list.title}></td>
    <td th:text=${list.deadline}></td>
    <td><a type="button" th:href="@{/task/{id}(id=${list.id})}">編集</a></td>
    <td>
      <form method="POST" th:action="@{/task/delete}">
      <input type="hidden" name="taskId" th:value="${list.id}">
      <input type="submit" value="削除">
      </form>
    </td>
  </tr>
</table>
-->

<h3>タスク以下</h3>
<!--
<td th:text=${task.title}></td>
-->

</div>
</body>
</html>