<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>

<div style="margin-left:auto;margin-right:auto;text-align:left;width:850px;">

<h1 th:text="${title}">ようこそ</h1>
<p th:if="${complete}" th:text="${complete}"></p>
<form method="POST" th:action="@{/task/update}" th:object="${taskForm}">
  <table style="border-collapse:collapse;" id="set_table">
    <tr>
      <td><label>タスクタイプ:</label></td>
      <td>
        <select name="typeId">
          <option value="1" th:selected="*{typeId == 1}">緊急</option>
          <option value="2" th:selected="*{typeId == 2}">重要</option>
          <option value="3" th:selected="*{typeId == 3}">できれば</option>
        </select>
      </td>
      <td class="dummy_td"></td>
    </tr>
    <tr>
      <td><label>タスク：</label></td>
      <td>
        <input type="text" name="title" th:value="*{title}" />
        <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color:red;"></div>
      </td>
      <td class="dummy_td"></td>
    </tr>
    <tr>
      <td><label>タスク詳細：</label></td>
      <td colspan="2">
      <input type="text" name="detail" th:value="*{detail}" style="width:550px;"/>
      <div th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}" style="color:red;"></div>
      </td>
      
    </tr>
    <tr>
      <td><label>期限：</label></td>
      <td>
      <input type="datetime-local" name="deadline" th:value="*{deadline}" />
      <div th:if="${#fields.hasErrors('deadline')}" th:errors="*{deadline}" style="color:red;"></div>
      </td>
      <td class="dummy_td"></td>
    </tr>
  </table>
    <input type="hidden" name="taskId" th:value="*{id}"/>
    <input type="submit" value="更新登録">
</form>

<p><a th:href="@{/task}">戻る</a></p>

</div>
</body>
</html>