<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CRUDforTask</title>
</head>
<body>
<h1 th:text="${title}">ようこそ</h1>


<form method="POST" th:action="@{/task/insert}">
	<input type="submit" value="Insert送信">
</form>

<form method="POST" th:action="@{/task/update}">
	<input type="submit" value="Update送信">
</form>

<form method="POST" th:action="@{/task/delete}">
	<input type="submit" value="Delete送信">
</form>

<table>
  <tr th:each="list : ${taskList}">
    <td th:text=${list.id}></td>
    <td th:text=${list.title}></td>
    <td th:text=${list.deadline}></td>
    <td th:text=${list.taskType.type}></td>
    <td th:text=${list.taskType.content}></td>
  </tr>
</table>

</body>
</html>