<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body>

<div style="margin-left:auto;margin-right:auto;text-align:left;width:850px;">

<h1 th:text="${title}">ようこそ</h1>


<div style="width:600px;border:solid 1px black;margin-left:auto;margin-right:auto;">
<h1 class="h3 mt-2 mb-3 font-weight-normal" style="text-align:center;">登録</h1>
<img th:src="@{/image/1907768.png}" style="width:160px;height:120px;margin-left:auto;margin-right:auto;display:block;"/>
   <form class="w-75 mx-auto" th:action="@{/login/login}" method="post" th:object="${loginForm}">
   <br>
   <input class="form-control"  type="text" name="username"  placeholder="ユーザ名"  autofocus/>
   <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color:red;"></div>
   
   <br>
   <input class="form-control" id="password" type="password" name="password"  placeholder="パスワード" />
   <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red;"></div>
   
   <br>
   <input class="btn btn-outline-primary my-1" type="submit" value="登録"/>
   </form>
</div>

<!--
<form method="POST" th:action="@{/login/login}" th:object="${loginForm}">
  <table style="border-collapse:collapse;" id="set_table">
    <tr>
      <td>タスクタイプ:</td>
      <td>
        <select name="typeId">
          <option value="1" th:selected="*{typeId == 1}">緊急</option>
          <option value="2" th:selected="*{typeId == 2}">重要</option>
          <option value="3" th:selected="*{typeId == 3}">できれば</option>
        </select>
      </td>
      <td class="dummy_td"></td>
     
    </tr>
    <tr>
      <td>タスク：</td>
      <td>
        <input type="text" name="title" th:value="*{title}" style="width:240px;"/>
        <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color:red;"></div>
      </td>
      <td class="dummy_td"></td>
     
    </tr>
    <tr>
      <td>タスク詳細：</td>
      <td colspan="2">
        <input type="text" name="detail" th:value="*{detail}" style="width:550px;"/>
        <div th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}" style="color:red;"></div>
      </td>
    </tr>
    <tr>
      <td>期限：</td>
      <td>
      <input type="datetime-local" name="deadline" th:value="*{deadline}" />
      <div th:if="${#fields.hasErrors('deadline')}" th:errors="*{deadline}" style="color:red;"></div>
      </td>
      <td class="dummy_td"></td>
    </tr>
  </table>
    <input type="submit" value="タスク登録" >
</form>
<br>
<table>
-->


</div>

</div>
</body>
</html>